---
import type { CollectionEntry } from 'astro:content';

interface Props {
  briefs: (CollectionEntry<'posts'> & { readingTimeMinutes?: number })[];
  publication: CollectionEntry<'publications'>;
}

const { briefs, publication } = Astro.props;
---
<aside class="brief-rail">
  <div class="brief-rail__header">
    <span class="brief-rail__label">Briefs</span>
    <span class="brief-rail__line"></span>
  </div>
  <ul class="brief-rail__list">
    {briefs.map((brief) => (
      <li class="brief-rail__item">
        <a href={`/posts/${brief.slug}`} class="brief-rail__link">
          <span class="brief-rail__section">{brief.data.sectionId}</span>
          <span class="brief-rail__title">{brief.data.headline}</span>
        </a>
      </li>
    ))}
  </ul>
</aside>
